/* VARIABLES */
:root {
  --main-green: #5FB4A2;
  --main-dark-blue: #203A4C;
  --main-grayish-dark-blue: #33323D;
  --main-light-grey: #EAEAEB;
  --main-bg-color: #fafafa;
  --main-red: #F43030;
}

/* MIXINS */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input { /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

/* public-sans-regular - latin */
@font-face {
  font-family: "Public Sans";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-500 - latin */
@font-face {
  font-family: "Public Sans";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/public-sans-v14-latin-500.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-500.woff") format("woff");
}
/* public-sans-700 - latin */
@font-face {
  font-family: "Public Sans";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/public-sans-v14-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-700.woff") format("woff");
}
/* ibarra-real-nova-regular - latin */
@font-face {
  font-family: "Ibarra Real Nova";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ibarra-real-nova-v20-latin-regular.woff2") format("woff2"), url("../fonts/ibarra-real-nova-v20-latin-regular.woff") format("woff");
}
/* ibarra-real-nova-700 - latin */
@font-face {
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ibarra-real-nova-v20-latin-700.woff2") format("woff2"), url("../fonts/ibarra-real-nova-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img,
svg {
  display: block;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  font-weight: 400;
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-left: 32px;
}

/* HEADER */
.site-header {
  padding-top: 32px;
  padding-bottom: 40px;
}

.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.site-header__burger {
  width: 24px;
  height: 13px;
  background-color: transparent;
  border: 0;
  background-image: url("../../images/header-open-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.site-header__burger--close {
  width: 18px;
  height: 19px;
  background-image: url("../../images/header-close-btn.svg");
}

.sitenav {
  position: absolute;
  z-index: 1;
  top: 88px;
  right: 32px;
  display: none;
  width: 223px;
  background-color: var(--main-grayish-dark-blue);
}

.sitenav__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding: 40px 20px;
}

.sitenav__item {
  text-align: center;
}

.sitenav__item:not(:last-child) {
  margin-bottom: 32px;
}

.sitenav__link {
  white-space: nowrap;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sitenav--active {
  display: block;
}

.body-overflow {
  overflow: hidden;
}

@media only screen and (min-width: 650px) {
  .body-overflow {
    overflow-y: scroll;
  }
  .site-header {
    padding-top: 64px;
    padding-bottom: 94px;
  }
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
  .site-header__burger {
    display: none;
  }
  .sitenav {
    position: static;
    display: block;
    width: auto;
    background-color: transparent;
  }
  .sitenav__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sitenav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 42px;
  }
  .sitenav__link {
    color: var(--main-grayish-dark-blue);
  }
  .sitenav__link--active {
    color: var(--main-green);
  }
}
@media only screen and (min-width: 768px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.site-header--active {
  padding-bottom: 40px;
}

@media only screen and (min-width: 650px) {
  .site-header--active {
    padding-bottom: 47px;
  }
}
@media only screen and (min-width: 768px) {
  .site-header--active {
    padding-bottom: 54px;
  }
}
/* HERO */
.hero {
  padding-bottom: 48px;
}

.hero__wrapper {
  position: relative;
  background-image: url("../../images/hero-bg-img-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  padding-top: 259px;
}

.hero__inner {
  padding-top: 9px;
  background-color: #fafafa;
}

.hero__title {
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 32px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  font-size: 12px;
  line-height: 14px;
  text-align: start;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: var(--main-dark-blue);
  -webkit-transition: 0.5s background ease;
  transition: 0.5s background ease;
}
.hero__link::before {
  display: inline-block;
  width: 48px;
  height: 48px;
  content: "";
  margin-right: 38px;
  background-image: url("../../images/links-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.hero__link:hover {
  background-color: var(--main-green);
}

.hero__link:hover::before {
  background-image: url("../../images/link-arrow-white.svg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero__wrapper {
    background-image: url("../../images/hero-bg-img-mobile@2x.jpg");
    background-size: contain;
  }
}
@media only screen and (min-width: 416px) {
  .hero__wrapper {
    background-size: 378px 263px;
  }
}
@media only screen and (min-width: 436px) {
  .hero__wrapper {
    background-size: 390px 263px;
  }
}
@media only screen and (min-width: 465px) {
  .hero__wrapper {
    background-size: 402px 256px;
  }
}
@media only screen and (min-width: 519px) {
  .hero__wrapper {
    background-size: 454px 272px;
  }
}
@media only screen and (min-width: 570px) {
  .hero__wrapper {
    background-size: 503px 303px;
    padding-top: 308px;
  }
}
@media only screen and (min-width: 600px) {
  .hero__wrapper {
    background-size: 591px 342px;
    padding-top: 345px;
  }
}
@media only screen and (min-width: 650px) {
  .hero__wrapper {
    background-image: url("../../images/hero-bg-img-tablet.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 322px;
    padding-bottom: 265px;
  }
  .hero__inner {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 514px;
    padding-top: 56px;
    padding-right: 56px;
  }
}
@media only screen and (min-width: 650px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 650px) and (min-device-pixel-ratio: 2), only screen and (min-width: 650px) and (min-resolution: 192dpi), only screen and (min-width: 650px) and (min-resolution: 2dppx) {
  .hero__wrapper {
    background-image: url("../../images/hero-bg-img-tablet@2x.jpg");
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    padding-bottom: 75px;
  }
  .hero__wrapper {
    background-image: url("../../images/hero-bg-img.jpg");
    padding-top: 336px;
  }
  .hero__inner {
    max-width: 445px;
    padding-right: 55px;
  }
  .hero__title {
    font-size: 50px;
    line-height: 50px;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__wrapper {
    background-image: url("../../images/hero-bg-img@2x.jpg");
  }
}
/* ABOUT ME */
.about-me {
  padding-top: 48px;
  padding-bottom: 58px;
}

.about-me__img-wrapper {
  width: 100%;
  margin-bottom: 32px;
}

.about-me__img {
  width: 100%;
  max-width: 311px;
  height: 346px;
  margin: 0 auto;
}

.about-me__inner {
  padding-top: 32px;
  padding-bottom: 51px;
  border-top: 1px solid rgba(51, 50, 61, 0.1490196078);
  border-bottom: 1px solid rgba(51, 50, 61, 0.1490196078);
}

.about-me__title {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 28px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.about-me__desc {
  font-size: 16px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 24px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.about-me__link {
  width: 202px;
  font-size: 12px;
  line-height: 14px;
  padding: 17px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;
  border: 1px solid #33323D;
  -webkit-transition: 0.5s background ease;
  transition: 0.5s background ease;
}

.about-me__link:hover {
  color: #fafafa;
  background-color: var(--main-grayish-dark-blue);
}

@media only screen and (min-width: 768px) {
  .about-me__img-wrapper {
    margin-right: 69px;
    margin-bottom: 0;
  }
  .about-me__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1015px;
  }
  .about-me__img {
    width: 100%;
    height: 600px;
    max-width: 540px;
    margin: 0;
  }
  .about-me__inner {
    width: 771px;
  }
}
@media only screen and (min-width: 992px) {
  .about-me {
    padding-bottom: 75px;
  }
  .about-me__inner {
    max-width: 350px;
  }
}
/* ARTICLE */
.site-article {
  padding-top: 58px;
  padding-bottom: 80px;
}

.site-article__title {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.site-article__line {
  display: none;
}

.site-article__link {
  display: block;
  width: 162px;
  height: 50%;
  font-size: 12px;
  line-height: 14px;
  margin: 0 auto;
  padding: 17px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;
  border: 1px solid #33323D;
  -webkit-transition: 0.5s background ease;
  transition: 0.5s background ease;
}

.site-article__link:hover {
  color: #fafafa;
  background-color: var(--main-grayish-dark-blue);
}

@media only screen and (min-width: 768px) {
  .site-article {
    padding-bottom: 96px;
  }
  .site-article__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site-article__title {
    min-width: 350px;
    margin-bottom: 0;
  }
  .site-article__line {
    display: inline-block;
    width: 100%;
    max-width: 1400px;
    height: 1px;
    margin: 0 32px;
    background-color: #33323D;
    opacity: 0.15;
  }
  .site-article__link {
    margin: 0;
    white-space: nowrap;
  }
}
@media only screen and (min-width: 1111px) {
  .site-article {
    padding-bottom: 150px;
  }
}
/* FOOTER */
.site-footer {
  padding: 56px 0;
  background-color: var(--main-grayish-dark-blue);
}

.site-footer__logo {
  display: block;
  width: 61px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.site-footer-nav {
  margin-bottom: 40px;
}

.site-footer-nav__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-footer-nav__item {
  text-align: center;
}

.site-footer-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.site-footer-nav__link {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.social {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

@media only screen and (min-width: 816px) {
  .site-footer {
    padding: 24px 0;
  }
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
  .site-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-footer__logo {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 48px;
  }
  .site-footer-nav {
    margin-bottom: 0;
  }
  .site-footer-nav__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-footer-nav__item {
    text-align: center;
  }
  .site-footer-nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 43px;
  }
  .social {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .social__item:not(:last-child) {
    margin-right: 16px;
  }
}
/* CONTACT HERO */
.contact-hero {
  padding-bottom: 32px;
}

.contact-hero__wrapper {
  padding: 25px 0 32px 0;
  border-top: 1px solid rgba(51, 50, 62, 0.1490196078);
  border-bottom: 1px solid rgba(51, 50, 62, 0.1490196078);
}

.contact-hero__inner {
  max-width: 635px;
}

.contact-hero__title {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 24px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.contact-hero__desc {
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  margin-top: 0;
  margin-bottom: 24px;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.social--active {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (min-width: 650px) {
  .contact-hero__wrapper {
    padding-top: 32px;
  }
}
@media only screen and (min-width: 980px) {
  .contact-hero {
    padding-bottom: 47px;
  }
  .contact-hero__wrapper {
    padding: 48px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-hero__title {
    margin-bottom: 0;
  }
}
/*CONTACT  FORM*/
.contact-form {
  padding-bottom: 80px;
}

.contact-form__title {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 24px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.site-form__label {
  display: block;
  font-size: 13px;
  line-height: 30px;
  color: rgba(51, 50, 61, 0.8);
}

.site-form__input {
  display: block;
  width: 100%;
  height: 48px;
  padding: 9px 16px;
  margin-top: 8px;
  color: var(--main-grayish-dark-blue);
  border: 0;
  background-color: rgba(51, 50, 61, 0.1019607843);
  border: 1px solid transparent;
  outline: 0;
}

.site-form__input::-webkit-input-placeholder {
  color: rgba(51, 50, 62, 0.4);
}

.site-form__input::-moz-placeholder {
  color: rgba(51, 50, 62, 0.4);
}

.site-form__input:-ms-input-placeholder {
  color: rgba(51, 50, 62, 0.4);
}

.site-form__input::-ms-input-placeholder {
  color: rgba(51, 50, 62, 0.4);
}

.site-form__input::placeholder {
  color: rgba(51, 50, 62, 0.4);
}

.site-form__textarea {
  display: block;
  width: 100%;
  height: 96px;
  padding: 9px 16px;
  margin-top: 8px;
  color: var(--main-grayish-dark-blue);
  border: 0;
  resize: none;
  background-color: rgba(51, 50, 61, 0.1019607843);
  border: 1px solid transparent;
  outline: 0;
}

.site-form__textarea::-webkit-input-placeholder {
  color: rgba(51, 50, 62, 0.4);
}

.site-form__textarea::-moz-placeholder {
  color: rgba(51, 50, 62, 0.4);
}

.site-form__textarea:-ms-input-placeholder {
  color: rgba(51, 50, 62, 0.4);
}

.site-form__textarea::-ms-input-placeholder {
  color: rgba(51, 50, 62, 0.4);
}

.site-form__textarea::placeholder {
  color: rgba(51, 50, 62, 0.4);
}

.site-form__input:focus {
  border: 1px solid var(--main-green);
}

.site-form__textarea:focus {
  border: 1px solid var(--main-green);
}

.site-form__input:not(:-moz-placeholder-shown):not(:focus):invalid {
  border: 1px solid var(--main-red);
}

.site-form__input:not(:-ms-input-placeholder):not(:focus):invalid {
  border: 1px solid var(--main-red);
}

.site-form__input:not(:placeholder-shown):not(:focus):invalid {
  border: 1px solid var(--main-red);
}

.site-form__textarea:not(:-moz-placeholder-shown):not(:focus):invalid {
  border: 1px solid var(--main-red);
}

.site-form__textarea:not(:-ms-input-placeholder):not(:focus):invalid {
  border: 1px solid var(--main-red);
}

.site-form__textarea:not(:placeholder-shown):not(:focus):invalid {
  border: 1px solid var(--main-red);
}

.site-form__invalid {
  opacity: 0;
  font-weight: 700;
  font-size: 10px;
  margin-top: 4px;
  line-height: 12px;
  color: #F43030;
}

.site-form__input:not(:-moz-placeholder-shown):not(:focus):invalid + .site-form__invalid {
  opacity: 1;
}

.site-form__input:not(:-ms-input-placeholder):not(:focus):invalid + .site-form__invalid {
  opacity: 1;
}

.site-form__input:not(:placeholder-shown):not(:focus):invalid + .site-form__invalid {
  opacity: 1;
}

.site-form__textarea:not(:-moz-placeholder-shown):not(:focus):invalid + .site-form__invalid {
  opacity: 1;
}

.site-form__textarea:not(:-ms-input-placeholder):not(:focus):invalid + .site-form__invalid {
  opacity: 1;
}

.site-form__textarea:not(:placeholder-shown):not(:focus):invalid + .site-form__invalid {
  opacity: 1;
}

.site-form__btn {
  width: 200px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: var(--main-dark-blue);
  border: 0;
  -webkit-transition: 0.5s background ease;
  transition: 0.5s background ease;
}

.site-form__btn:hover {
  background-color: var(--main-green);
}

@media only screen and (min-width: 980px) {
  .contact-form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-form {
    max-width: 635px;
    width: 100%;
  }
  .site-form__input {
    max-width: 635px;
  }
  .site-form__textarea {
    max-width: 635px;
  }
}/*# sourceMappingURL=main.css.map */