/*CONTACT  FORM*/

.contact-form {
  padding-bottom: 80px;  
}
.contact-form__title {
  font-family: 'Ibarra Real Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 24px;
  letter-spacing: -0.357143px;
  color: #33323D;
}
.site-form__label {
  display: block;
  font-size: 13px;
  line-height: 30px;
  color: #33323dcc;
}
.site-form__input {
  display: block;
  width: 100%;
  height: 48px;
  padding: 9px 16px;
  margin-top: 8px;
  color: var(--main-grayish-dark-blue);
  border: 0;
  background-color: #33323d1a;
  border: 1px solid transparent;
  outline: 0;
}
.site-form__input::placeholder {
  color: #33323e66;
}
.site-form__textarea {
  display: block;
  width: 100%;
  height: 96px;
  padding: 9px 16px;
  margin-top: 8px;
  color: var(--main-grayish-dark-blue);
  border: 0;
  resize: none;
  background-color: #33323d1a;
  border: 1px solid transparent;
  outline: 0;
}
.site-form__textarea::placeholder {
  color: #33323e66;
}
.site-form__input:focus {
  border: 1px solid var(--main-green);
}
.site-form__textarea:focus {
  border: 1px solid var(--main-green);
}
.site-form__input:not(:placeholder-shown):not(:focus):invalid {
  border: 1px solid var(--main-red);
}
.site-form__textarea:not(:placeholder-shown):not(:focus):invalid {
  border: 1px solid var(--main-red);
}
.site-form__invalid {
  opacity: 0;
  font-weight: 700;
  font-size: 10px;
  margin-top: 4px;
  line-height: 12px;
  color: #F43030;
}
.site-form__input:not(:placeholder-shown):not(:focus):invalid + .site-form__invalid {
  opacity: 1;
}
.site-form__textarea:not(:placeholder-shown):not(:focus):invalid + .site-form__invalid {
  opacity: 1;
}
.site-form__btn {
  width: 200px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: var(--main-dark-blue);
  border: 0;
  transition: 0.5s background ease;
}
.site-form__btn:hover {
  background-color: var(--main-green);
}

@include mobile-first(650px){
  .contact-form {
    padding-bottom: 96px;  
  }
  .contact-form__title {
    margin-bottom: 32px;
  }
}

@include mobile-first(980px){
  .contact-form {
    padding-bottom: 109px;  
  }
  .contact-form__wrapper {
    @include flexbox(space-between, flex-start, row)
  }
  .contact-form__title {
    margin-bottom: 0;
  }
  .site-form {
    max-width: 635px;
    width: 100%;
  }
  .site-form__input {
    max-width: 635px;
  }
  .site-form__textarea {
    max-width: 635px;
  }
}